$page-primary-background: #F9EDE5;
$page-secondary-background: #f8d5bd;

$primary: #455662;
$primary-hover: #657c8b;
$primary-active: #90a1ad;

$secondary: #353535;
$secondary-hover: #666666;
$secondary-active: #9b9b9b;
$link: white;

$accent: #FFCA49;
$accent-hover: #e6ad1e;
$accent-active: #fcc333;
